@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/Students/Index" class="nav-link">Get all</a>
            <a href="/Students/Create" class="nav-link">Create</a>
            <a href="/Students/Update" class="nav-link">Update</a>
            <a href="/Students/Delete" class="nav-link">Delete</a>

        </nav>
    </header>
    <main>
        <section class="align-content-center p-5">
            <h4>Create Students</h4>
        </section>
    </main>
    <footer>
        <h4 class="bg-black text-white text-center">This is footer</h4>
    </footer>
</body>
</html>
